//paleta de color//
$color-fondo:  #FFFFFF;
$color-gris-claro: #f4f4f4;   // Gris claro
$color-azul-claro: #486284;    // Azul claro
$color-azul-dos: #0056b3;     // Azul (para hover, etc.)
$color-azul-oscuro: #003d80;  // Azul oscuro
$color-gris-medio: #585c62;   // Gris medio